html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}
.bcl{
  /* background:linear-gradient(to bottom, rgba(20, 19, 19, 0.767), rgba(45, 16, 126, 0.73)); */
  background:linear-gradient(to bottom, rgb(19, 2, 2), rgb(6, 0, 20));
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* .opa{
    opacity: 30%;
/* } */
/* img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  
  img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  
 .word{
     top: 40vh;
     left: 50vh;
     position: absolute;
     z-index: 4;
 }

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}


.m-b-md {
    margin-bottom: 30px;
}
.jumbotron{
padding: 0;
}

.img{
    height: 100vh;
}

.jumbotron img{
    padding:0%;
    margin:0%;
    height: 100vh;
    /* opacity:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),; */
}

.container-fluid{
    padding-right:0px ;
    padding-left:0px ;
}
.navbar{
    background:transparent !important;
}
/* .moyo::before{
   content: '';
   position: absolute;
   opacity: 0.6;
   background: white;

} */

.fa{
    color: rgb(129, 53, 53);
}
